.app.dark {
    --bg-color: #0a0a53;
    --inverted-bg-color: #ededf5;

    --primary-color: #1dde24;
    --secondary-color: #0e754f;

    --inverted-primary-color: #ff2f2f;
    --inverted-secondary-color: #0048ff;
}