:root {
    --bg-color: #ededf5;
    --inverted-bg-color: #0a0a53;

    --primary-color: #ff2f2f;
    --secondary-color: #0048ff;

    --inverted-primary-color: #1dde24;
    --inverted-secondary-color: #0e754f;
}